.customer {
  margin-top: 120px;
}

.costomer__title {
  margin-bottom: 16px;
  padding: 12px 24px;
  display: inline-block;
  background: #F8F9FE;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.5px;
  color: #69B99D;
}

.customer__flexbox {
  margin-bottom: 48px;
  display: flex;
  justify-content: space-between;
}

.customer__subtitle {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #054457;
}

.customer__link {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.5px;
  color: #69B99D;
  padding: 12px 56px 12px 24px;
}
.customer__link:after {
  position: absolute;
  margin-top: -21px;
  margin-right: 40px;
  content: "";
  display: inline-block;
  width: 10%;
  height: 10%;
  background-image: url(../img/discover/arrow.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.customer__link:hover {
  transition: all 0.3s ease;
  border: solid 1px #69B99D;
}

.customer__cards {
  display: flex;
  justify-content: space-around;
}

.customer__card {
  padding: 24px;
  background: #FEFEFF;
  border: 1px solid #DEDCDA;
  max-height: 350px;
  max-width: 376px;
}

.customer__marks {
  margin-bottom: 24px;
}

.customer__title {
  margin-bottom: 16px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.0025em;
  color: #1F2744;
}

.customer__description {
  margin-bottom: 24px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.0025em;
  color: #1F2744;
}

.customer__card-flex {
  display: flex;
}

.customer__card-flexflex {
  margin-left: 14px;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
}

.card__name {
  display: block;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.5px;
  color: #0B2E29;
}

.card__description {
  display: block;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.5px;
  color: #767676;
}